.personal{
    background-color: rgb(7, 150, 150);
}
.texterea{
    background-color: rgb(19, 84, 122);
    color: rgb(0, 0, 0);
    font-size: large;
}
.input{
    background-color: rgb(9, 105, 0);
    color: aliceblue;
}